# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# App data (SQLite db on the volume mount)
data
data-prod

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
